.idea/BibliometricAnalysis.iml
.idea/misc.xml
Sections/__pycache__/AcercaDe.cpython-312.pyc
Sections/__pycache__/Analisis.cpython-312.pyc
Sections/__pycache__/AnalisisDatos.cpython-312.pyc
Sections/__pycache__/Coocurrencia.cpython-312.pyc
Sections/__pycache__/Dendogramas.cpython-312.pyc
Sections/__pycache__/GraficoFrecuencia.cpython-312.pyc
Sections/__pycache__/NubePalabras.cpython-312.pyc
Sections/__pycache__/VistaGeneral.cpython-312.pyc
